@use "../base/variables" as *;
@use "../base/mixins" as m;

.header {
  padding-top: 4.6rem;
  @include m.flexBetween;

  &__img {
    width: 15rem;
    height: 40px;

    @include m.tablet {
      width: 25rem;
      height: 66.5px;
    }

    @include m.desktop {
      width: 290px;
      height: 70px;
    }
  }

  &__button {
    z-index: 10;
    padding: 1rem 2rem;
    background: $background;
    box-shadow: -4px -4px 6px 0px rgba(255, 255, 255, 0.05),
      0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: $white;

    &:hover{
    filter: drop-shadow(0 0 2em #cad6f134);
    transition: .3s ease-in-out;
    }

    @include m.tablet {
      padding: 1rem 4rem;
    }

    @include m.tablet {
      padding: 1.2rem 5rem;
    }
  }

}
