//FONT
$font-family: 'Montserrat', sans-serif;

//RESPONSIVE DESIGN
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$large: 1640px;
$extraLarge: 1900px;

//COLORS
$white: #ffff;
$black: #000;
$greenQR : #a7cf3a;
$blueQR : #64cad8;
$purpleQR : #a780b7;
$blueText: #002239;
$background: #16191C;
$border: #cad6f1;
$textBtn: #00213A;